@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Raleway:wght@400;500;700&display=swap');

:root {
  /* testimonials background */
  --clr-primary--100: hsl(219, 30%, 18%);
  /* intro and email sign up background */
  --clr-primary--300: hsl(217, 28%, 15%);
  /* main background */
  --clr-primary--500: hsl(218, 28%, 13%);
  /* footer background */
  --clr-primary--900: hsl(216, 53%, 9%);
  /* inside call-to-action gradient */
  --clr-accent--300: hsl(176, 68%, 64%);
  /* inside call-to-action gradient */
  --clr-accent--500: hsl(198, 60%, 50%);
  /* error */
  --clr-accent--900: hsl(0, 100%, 63%);
  --clr-neutral--100: hsl(0, 0%, 100%);
  --clr-neutral--300: hsla(0, 0%, 100%, 0.719);
  --fs: 0.9375rem;
  --ff-primary: 'Open Sans', sans-serif;
  --ff-accent: 'Raleway', sans-serif;
  --br: 0.65em;
}


/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 0;
  padding-left: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--clr-neutral--100);
}

/* --- Body --- */
body {
  background-color: var(--clr-primary--500);
  color: var(--clr-neutral--300);
  font-family: var(--ff-primary);
  font-weight: var(--fw-light);
  font-size: var(--fs);

  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--clr-primary--300);
  background-image: url('../images/bg-curvy-desktop.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 40%;
}

/* --- Navbar --- */
.navbar {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em;
}

.navbar__components {
  display: flex;
  font-family: var(--ff-accent);

}

.navbar__item {
  margin-left: 5vw;
}

.navbar__item:hover {
  text-decoration: underline;
  font-weight: 700;
}

/* hero */
.hero {
  max-width: 40%;
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__image--container {
  margin: 0 4em;
  max-width: 70rem;
}

.hero__image--container img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.hero__title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-neutral--100);
  margin: 1.2em;
  font-family: var(--ff-accent);
  line-height: 3rem;
}

.description {
  font-weight: 500;
  letter-spacing: 0.02rem;

}

.hero__description {
  font-size: 1.05rem;
  line-height: 1.6rem;
  max-width: 80%;
  margin-bottom: 1.5em;
}

.features {}