@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Raleway:wght@400;500;700&display=swap');

:root {
  /* testimonials background */
  --clr-primary--100: hsl(219, 30%, 18%);
  /* intro and email sign up background */
  --clr-primary--300: hsl(217, 28%, 15%);
  /* main background */
  --clr-primary--500: hsl(218, 28%, 13%);
  /* footer background */
  --clr-primary--900: hsl(216, 53%, 9%);
  /* inside call-to-action gradient */
  --clr-accent--300: #65e2d9;
  /* inside call-to-action gradient */
  --clr-accent--500: #339ecc;
  /* error */
  --clr-accent--900: hsl(0, 100%, 63%);
  --clr-neutral--100: hsl(0, 0%, 100%);
  --clr-neutral--300: hsla(0, 0%, 100%, 0.719);
  --fs: 0.9375rem;
  --ff-primary: 'Open Sans', sans-serif;
  --ff-accent: 'Raleway', sans-serif;
  --br: 1.75em;
}


/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 0;
  padding-left: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--clr-neutral--100);
}

/* --- Body --- */
body {
  background-color: var(--clr-primary--500);
  color: var(--clr-neutral--300);
  font-family: var(--ff-primary);
  font-weight: var(--fw-light);
  font-size: var(--fs);

  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--clr-primary--300);
  background-image: url('../images/bg-curvy-desktop.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 40%;
}

/* --- Navbar --- */
.navbar {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em;
}

.navbar__components {
  display: flex;
  font-family: var(--ff-accent);

}

.navbar__item {
  margin-left: 5vw;
}

.navbar__item:hover {
  text-decoration: underline;
  font-weight: 700;
}

/* hero */
.hero {
  max-width: 50rem;
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
}

.hero__image--container {
  margin: 0 4em;
  max-width: 70rem;
}

.hero__image--container img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.hero__title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-neutral--100);
  margin: 1.2em;
  font-family: var(--ff-accent);
  line-height: 3rem;
  max-width: 70rem;
}

.description {
  font-weight: 500;
  letter-spacing: 0.02rem;
  line-height: 1.4rem;
}

.hero__description {
  font-size: 1.1rem;
  line-height: 1.7rem;
  max-width: 36rem;
  margin-bottom: 1.9em;
}

.btn {
  font-weight: 700;
  color: var(--clr-neutral--100);
  background: rgb(101, 226, 217, 1);
  border: none;
  border-radius: var(--br);
  outline: none;
  margin: 0 auto;
  padding: 1em 2.5em 1.1em 2.5em;
  background: linear-gradient(90deg, rgba(101, 226, 217, 1) 0%, rgba(60, 189, 245, 0.664) 100%);
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: rgb(127, 221, 215);
}

.hero__button {
  padding: 1em 5.5em 1.1em 5.5em;
}

.features {
  max-width: 60rem;
  margin: 5em auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
  text-align: center;
  padding: 2em;
}

.card {
  max-width: 25.7rem;
}

.card__image--container {
  width: 6rem;
  height: 6rem;
  margin: 1em auto;
}

.card__image--container img {
  display: block;
  object-fit: contain;
}

.feature__name {
  font-size: 1.3rem;
  padding-bottom: 0.5em;
}

/* Team */

.team {
  display: flex;
  flex-wrap: wrap;
  max-width: 120rem;
  margin: 10em auto;
  align-items: center;
  padding: 2em;
}

.team__image--container {
  width: 50%;
  margin-left: auto;
}

.team__image--container img {
  display: block;
  width: 80%;
  object-fit: contain;
}

.team__content {
  width: 30%;
  margin-right: auto;
  margin-left: 5em;
}

.team__content--title {
  font-size: 2.4rem;
  max-width: 25rem;
}

.team__content--description {
  padding-top: 1.2em;
  max-width: 39rem;
}

.team__link {
  display: flex;
  height: 4rem;
  align-items: center;
  color: var(--clr-accent--300);
  position: relative;
  width: 100%;
}

.arrow__icon {
  display: block;
  position: absolute;
  left: 9rem;
  top: 40%;
}

.team__link::before {
  content: '';
  border-bottom: solid 1px var(--clr-accent--300);
  border-radius: var(--br);
  position: absolute;
  left: -1px;
  width: 10.1rem;
  top: 75%;
}

/* Testimonials */

.testimonials {
  display: flex;
  max-width: 90rem;
  margin: 10em auto;
  align-items: center;
  padding: 0 3em;
  position: relative;
}

.quotes {
  position: absolute;
  top: -20px;
  left: 49px;
  z-index: -1;
}

.testimonial {
  background-color: var(--clr-primary--100);
  margin: 1em;
  border-radius: 0.3rem;
  padding: 3em 2em 2em 2em;
  max-width: 25rem;
}

.testimonail__author {
  display: flex;
  padding-top: 1.5em;
  align-items: center;
}

.testimonail__author--image {
  width: 3rem;
  height: 3rem;
  margin-right: 1em;
}

.testimonail__author--image img {
  display: block;
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.testimonail__author--data {
  display: flex;
  flex-direction: column;
}

.testimonail__author--name {
  font-size: 1rem;
}

.testimonail__author--position {
  font-size: 0.6rem;
}

/* Contact */

.contact {
  position: relative;
  height: 10rem;
  display: flex;
  max-width: 90rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.contact__container {
  position: absolute;
  top: 0;
  background-color: var(--clr-primary--300);
  padding: 3em 4.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form__title {
  font-size: 2rem;
  color: var(--clr-neutral--100);
  font-family: var(--ff-accent);
}

.form__incentive {
  max-width: 40rem;
  padding: 2em 0;
}

/* Form */
.form {
  display: flex;
  margin: 0.8em 0;
  border-radius: 0.3rem;
  position: relative;
}

.form__input {
  margin-right: 1.2em;
  padding: 1em 2.5em 1.1em 2.5em;
  border-radius: var(--br);
  width: 30rem;
  border: 1px solid var(--clr-primary--100);
  outline: none;
}

.form__input:focus {
  outline: none;
}

.form__input::placeholder {
  color: rgb(161, 161, 161)
}

.form__input:not(:placeholder-shown) {
  color: black;
  font-weight: 700;
}

.form__button {
  margin-left: 1.2em;
}

.form__error {
  display: none;
  position: absolute;
  color: red;
  font-weight: 700;
  bottom: -25px;
  left: 30px;
}

.form.error .form__error {
  display: block;
}

/* FOOTER */

.footer {
  background-color: var(--clr-primary--900);
  padding-top: 12em;
}

.footer__main {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2em 2em;
}

.logo__container {
  max-width: 7rem;
  margin-bottom: 4em;
}

.logo__container img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.footer__main--container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.location {
  display: flex;
  max-width: 20%;
  margin-right: 5vw;
}

.location .footer__icon {
  margin-top: 0.7em;
}

.footer__icon {
  margin-right: 1.5em;

}

.footer__links--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


.footer__links {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  align-items: left;
}

.footer__link {
  display: flex;
  margin-bottom: 1em;
  width: 10rem;
}

.footer__link:hover {
  font-weight: 700;
}

.footer__links--social {
  display: flex;
  justify-content: space-between;
}